
body {
    background-color:black;
    text-align:center;
    color:white;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;

}

h3 {
    text-align:center;
    font-weight:300;
    font-size:42px;
}


h4 {
    color:aquamarine;
    font-size:16px;
    text-decoration:underline;
    
}

p {
    color: gray;
    
}






